git+https://github.com/sonntagsgesicht/auxilium
dulwich
bandit
coverage
flake8
Sphinx
sphinx-math-dollar
sphinx-rtd-theme
karma_sphinx_theme
sphinx-nameko-theme

docutils
lxml
gitdb
pbr
setuptools
six
wheel
pip
toml
cryptography
py
keyring
pytz
requests
colorama
PyYAML
Babel
smmap
twine
rfc3986
pkginfo
tqdm
urllib3
stevedore
webencodings
packaging
bleach
pyflakes
MarkupSafe
Jinja2
imagesize
Pillow
snowballstemmer
pytest
Pygments
certifi
pluggy
regtest
idna
tomli
chardet
alabaster
pyparsing
Cython
businessdate
zipp
dcf